@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

// Bootstrap Variables
$theme-colors: (
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

@import "variables";

.main-container {
  margin: 20px auto 0;
}

body {
  background: $body-bg;
  color: #fff;
}

.page-box {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 0 0 15px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.dropdown-menu {
  outline: none;
}
