
$theme-colors: (
      "primary": #837845,
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

.main-container {
  margin-top: 20px;
}

body {
  background: #f5f5f5;
}

.bg-tan {
  background: #837845 !important;
}

.page-box {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 0 0 15px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}